@charset "utf-8";
*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

body {
	font-family: "Arial", sans-serif;
	background: linear-gradient(73deg, rgba(246,98,0, 0.8), rgba(249,199,0, 0.8));/* 255,178,16 */
	font-size: 18px;
    overflow: auto;
}

a { 
	text-decoration: none;
	color: #46B004;
}

ul, li {
	list-style: none;
}

/* Шапка */
header {
	width: 100%;
	height: 100vh;
	display: block;
	position: relative;
	background-image: url(imager/medSots.jpg);
    background-size: cover;
    -webkit-background-size: cover;
	background-position: center top;
}

/* Меню */
.menu {
	position: absolute;
	width: 895px;
	height: 50px;
	display: block;
	left: 50%;
	top: 25%;
	margin-left: -447.5px;
	margin-top: -55px;
	/* background: #eee; */
}

/* Ячейка для ссылки */
.sell {
	float: left;
	width: 155px;
	/* background-color: #333; */
	display: inline-block; 
	font-size: 22px;
}

/* Ссылки */
.sell > a {
	width: 150px;
	display: block;
	/* background-color: #fff; */
	text-align: center;
	padding: 10px;
	border-radius: 5px;
}
.sell > a:hover {
box-shadow: 0px 0px 6px 0px #000000 inset;
}

/* Ячейка для ссылки (последние две) */
.sella {
	float: left;
	display: inline-block;
	width: 275px;
	font-size: 22px;
	/* background-color: #333; */
}

/* Ссылки */
.sella > a {
	display: block;
	width: 270px;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	/* background-color: #fff; */
}
.sella > a:hover {
box-shadow: 0px 0px 6px 0px #000000 inset;
}

/* Текст логотипа */
#logo-text {
	font-family: 'Pacifico', cursive;
	font-size: 28px;
	margin-top: -10px;
}
#logo-text > a {color: #FFCC00; text-shadow: 1px 1px #000, 1px 2px #000;}
#logo-text > a:active {color: rgba(255,204,15, 0.8); background-color: rgba(255,255,255, 0.3);}

/* Текст меню */
#header-text {
	margin-top: 32.5px;
	font-family: 'Comfortaa', cursive;
	color: #000;
}
#header-text > a {color: #FFCC00; text-shadow: 1px 1px #000, 2px 1px #000;}
#header-text > a:active {color: rgba(255,204,15, 0.8); background-color: rgba(255,255,255, 0.3);}

/* Контейнер для контента */
.container {
	margin: 0 50px auto;
	padding: 5px;
	display: block;
	min-height: 800px;
	color: #291505;
}

/* Отступы внутри контейнера */
.content {
	padding-top: 100px;
}

/* О нас */
.info {
	padding: 15px;
	line-height: 1.5;
	font-family: 'Comfortaa', cursive;
	padding-bottom: 100px;
}

.info-text {margin-top: 10px;}

/* Заголовоки - "О нас", "Каталог", "Контакты", "Доставка" */
.info > #we, #catl, #cont, #del {
	display: block;
	width: 160px;
	text-align: center;
	margin: 0 auto;
	font-size: 32px;
	font-family: 'Caveat+Brush', cursive;
	border-bottom: 2px solid #fff;
	padding-bottom: 0;
}
#del {width: 320px;}

/* P.s - "О нас" */
.end-info {
	margin-top: 10px;
	display: block;
	font-family: 'Pacifico', cursive;
	font-size: 24px;
	
	/* color: #46B004; */
}

/* Отступы - "Каталог" */
.shop {
	max-width: 1024px;
	margin: 0 auto;
}


.catalog {
	display: block;
	width: 1024px;
	min-height: 800px;
	position: relative;
	margin-top: 10px;
}

/* Ячейка - "Каталог" */
.cell-tovar {
	display: block;
	width: 340px;
	height: 418px;
	float: left;
}

.inner-cell-tovar {
	padding: 10px;
}

/* Блок с картинкой товара */
.tovar-img {
	display: block;
	width: 100%;
}

/* Картинка товара */
.tovar-img > img {
	display: inline-block;
	width: 100%; 
	border: 1px solid #762800;
	/*margin-top: 12.5px;*/
}

/* Блок с информация об товаре */
.tovar-info {
	height: 35%;
	color: #000;
/*	border: 1px solid #762800; */
}

.format {
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
	text-overflow: ellipsis;
}

/* Название товара */
.tovar-name {
	display: block;
	text-align: center;
	padding: 4px;
	padding-top: 10px;
	position: relative;
	font-weight: bold;
}

/* Ценик товара */
.tovar-info > #ryb {
	display: block;
	text-align: center;
	position: relative;
}
.tovar-info > #ryb > span {
	font-weight: bold;
	font-family: 'Comfortaa', cursive;
}

/* Описание товара */
.tovar-info > text {
	display: block;
	text-align: center;
	position: relative;
	width: 100%;
	height: 21px;
}

/* Кнопка "Купить" */
.tovar-info > .add-to-cart {
	width: 120px;
	position: relative;
	margin-left: 85px;
	background-color: #F66200;
	text-align: center;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	font-weight: bold;
}
.tovar-info > .add-to-cart > a {
	display: inline-block;
	color: #fff;
	font-size: 16px;
    padding: 10px;
}
.add-to-cart:hover {
	box-shadow: 0px 0px 6px 0px #000000 inset;
	color: #000;
}

/* Номер телефона */
.info-polosa { 
	padding: 10px;
	color: rgba(255,255,255, 0.3);
	z-index: 1001;
	position: fixed;
	left: 10px;
	top: -2px;
	font-family: 'Caveat';
	font-size: 32px;
	font-weight: bold;
}
.info-polosa:hover { 
	cursor: text;
	color: rgba(255,255,255, 1);
}

/* Контакты */
.cont-info {
	line-height: 1.5;
	font-family: 'Caveat', cursive;
	font-size: 32px;
	padding: 10px;
	padding-bottom: 100px;
}

/* Оплата и Доставка */
.del-money {
	line-height: 1.7;
	font-family: 'Comfortaa', cursive;
	padding: 10px;
	margin-bottom: 90px;
	padding-bottom: 10px;
}

/* Выделение слов ( n литра ) - "Оплата и Доставка" */
#litr {
	font-family: 'Pacifico', cursive;
	font-size: 24px;
}

/* Выделение предложения (Внимание...) - "Оплата и Доставка" */
#H {
	font-family: 'Pacifico', cursive;
}


/* Подвал */
footer {
	display: block;
	width: 100%;
	background-color: #000;
	width: 100%;
	height: 50px;
	color: #fff;
	bottom: 0px;
	position: relative;
	font-family: 'Caveat', cursive;
	font-size: 24px;
}

.telefon {
	float: left;
	width: 50%;
	position: absolute;
	top: 10px;
	left: 20px;
}
.telefon > span {
	display: block;
}

.email {
	float: left;
	width: 50%;
}
.email > span {
	display: block;
	position: absolute;
	top: 10px;
	right: 20px;
}

/* Очистка */
.clear {
	clear: both;
}

/* Стрелка вниз */
.lin {
	display: block; 
	position: fixed; 
	right: 50px; 
	bottom: 45px; 
	padding: 4px;
}
.lin a {
	color: #fff;
	border-radius: 25px;
	padding-bottom: 10px;
	padding-top: 0px;
	font-size: 65px;
	border: 1px solid #fff;
}
.lin a:hover {
	background-color: #F66200;
	border: 1px solid #F66200;
}
.lin a:active {
	color: #000;
}

.none {
	display: none;
}

/* Шрифты */
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Comfortaa);
@import url(https://fonts.googleapis.com/css?family=Caveat);
@import url(https://fonts.googleapis.com/css?family=Caveat+Brush);
