@charset "utf-8";

.container {
	min-height: 450px;'
}

/* Ссылка на "главная" */
.home {
	padding: 10px;
	width: 100%;
	text-align: center;
	margin-top: 10px;
	position: absolute;
	z-index: 1000;
}
.home > a {
	/*border-radius: 5px;*/
    padding: 5px;
	border: none;
	cursor: pointer;
	font-weight: bold;
	color: #000;
	font-size: 22px;
	text-shadow: 1px 1px 3px #000;
	border-left: 1px solid #000000;
}
.home > a:last-child {
	border-right: 1px solid #000000;
}

.home > a:hover {
	color: #fff;
}

section {
	padding-top: 80px;
}

.content {
	width: 100%;
	padding-top: 0;
}

.content2 {
	display: none;
}

.sidebar {
	display: none;
}

.sidebar2 {
	width: 1000px;
	margin: 0 auto;
	padding-left: 180px;
	margin-bottom: 30px;
}

.inner-sidebar {
	margin-left: 200px;
}

.text-info {
	width: 100%;
}

.tovar-img {
	width: 40%;
	float: left;
}

.tovar-info {
	width: 60%;
	float: left;
	padding-left: 50px;
}

.tovar-info > p {
	text-align: left;
}

/*===Кнопки===*/
.orient {
	width: 100%;
}

#back, #next {
	width: 70px;
	background-color: #F66200;
	text-align: center;
	border-radius: 5px;
    padding: 5px;
	border: 1px solid #E75C00;
	cursor: pointer;
	font-weight: bold;
	color: #fff;
	font-size: 14px;
	/**
	* Для эксплорера
    */
    -ms-user-select: none;
    /**
    * Для мозилы
    */
    -moz-user-select: none;
    /**
    * Для конкверора
    */
    -khtml-user-select: none;
    /**
    * Для Сафари и Хрома
    */
    -webkit-user-select: none;
    display: inline-block;
    vertical-align: middle;
}

.numb {
    display: inline-block;
    vertical-align: middle;
	font-weight: bold;
	border: 1px solid #F4A900;
	border-radius: 5px;
	padding: 3px;
}

.pack {
    display: inline-block;
    vertical-align: middle;
	font-weight: bold;
	border: 1px solid #F4A900;
	border-radius: 5px;
	padding: 3px;
}
.inner-pack {
	font-weight: bold;
	border: 1px solid #F4A900;
	border-radius: 5px;
	padding: 3px;
	background-color: #FAE8B1;
}
/*===Кнопки===*/

/*===Кнопки===*/
#back:hover, #next:hover, .but > input:hover {
	background-color: #5C4000;
	color: #fff;
}
/*===Кнопки===*/

/* Формы заполнения информации о заказчике */
label {
	padding: 3px;
}

.inp {
	display: block;
	padding: 5px;
	font-size: 18px;
	font-weight: bold;
	border: 1px solid #F4A900;
	border-radius: 5px;
	margin-bottom: 5px;
}

/* Невидимые формы */
.readon {
	font-family: "Arial", sans-serif;
	font-size: 18px;
	background-color: rgba(255,255,255, 0);
	border: none;
	text-align: center;
}

input[name="tovar"] {
	min-width: 120px;
	text-align: left;
}

.alertmay {
	background: linear-gradient(73deg, rgba(246,98,0, 0.8), rgba(249,199,0, 0.8));/* 255,178,16 */
	font-size: 24px;
	font-family: "Caveat", sans-serif; 
}

.button-shop {
	min-width: 60px;
	max-width: 180px;
	background: linear-gradient(73deg, rgba(246,98,0, 0.8), rgba(249,199,0, 0.8));/* 255,178,16 */
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    border: none;
    cursor: pointer;
    /*font-weight: bold;*/
	color: #fff;
	transition: all .6s ease;
	border: 2px solid #E75C00;
	margin-left: 200px;
}

.button-shop:hover {
	color: #000;
	transition: all .6s ease;
	border: 2px solid #000;
}

.checkout {
	margin-top: 30px;
	text-align: center;
	width: 100%;
}

footer {
	position: absolute;
	top: 0;
    height: 65px;
	background: linear-gradient(73deg, rgba(246,98,0, 0.8), rgba(249,199,0, 0.8));/* 255,178,16 */
	color: #000;
}

.order-block {
	margin-top: 14px;
}

.order {
	font-size: 18px;
	margin-left: 80px;
}